h1 {
    font-size: 2.5em;
    color: #333333;
    text-align: center;
    margin-bottom: 20px;
    font-family:cursive;
}
body {
    background-color: #e0f7fa;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
}
a {
    color: #00796b;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
button {
    background-color: #00796b;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}
button:hover {
    background-color: #004d40;
}
nav {
    margin-bottom: 20px;
    text-align: center;
    background-color: #a9cee7;
    padding: 10px;
}
nav a {
    margin: 0 10px;
    font-weight: bold;
}
.page {
    display: none;
}
.page.active {
    display: block;
}
#home-page {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
#about-page {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#flowers-page {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#bouquet-page {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#contactus-page {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    font-size: 1.2em;
    color: #333333;
    text-align: center;
    margin-bottom: 15px;
    font-family:cursive;
}